{% extends "layout.html" %}

{% block title %}
  {% if role == 'a' %}
    Admin Dashboard
  {% elif role == 't' %}
    Teacher Dashboard
  {% else %}
    Student Dashboard
  {% endif %}
{% endblock %}

{% block main %}
<div class="row">
  <div class="col-lg-3 mb-4">
    <div class="card">
      <div class="card-body">
          <div class="row" id="profile">
            <div class="col-10">
              <h3 class="card-title"><strong>Your Profile</strong></h3>
            </div>
            <div class="col-1 text-end">
              <img src="/static/profile.png" alt="Profile" width="30">
            </div>
          </div>
        <hr class="spacer">
        <p class="card-text text-center"><img src="/static/admin.png" alt="Profile Picture" width="120"></p>
        <p class="card-text">
          <div class="row">
            <div class="col-1">
              <img src="/static/id.png" alt="ID" width="25">
            </div>
            <div class="col text-center">
              {{ info[0]["id"] }}
            </div>
          </div>
        </p>
        <p class="card-text">
          <div class="row">
            <div class="col-1">
              <img src="/static/username.png" alt="Username" width="25">
            </div>
            <div class="col text-center">
              {{ info[0]["username"] }}
            </div>
          </div>
        </p>
        <p class="card-text">
          <div class="row">
            <div class="col-1">
              <img src="/static/name.png" alt="Name" width="25">
            </div>
            <div class="col text-center">
              {{ info[0]["First_Name"] }} {{ info[0]["Last_Name"] }}
            </div>
          </div>
        </p>
        <p class="card-text">
          <div class="row">
            <div class="col-1">
              <img src="/static/email.png" alt="Email" width="25">
            </div>
            <div class="col text-center">
              {{ info[0]["email"] }}
            </div>
          </div>
        </p>
        <p class="card-text">
          <div class="row">
            <div class="col-1">
              <img src="/static/phone.png" alt="Phone" width="25">
            </div>
            <div class="col text-center">
              {{ info[0]["phone"] }}
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    {% if role == 'a' %}
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card" id="category-cards">
          <div class="card-body">
            <h5 class="card-title">Student & Teacher Database</h5>
            <hr class="spacer">
            <div class="row mx-auto mt-3">
              <div class="col">
                <a href="/databaseS" class="text-decoration-none text-dark">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Student Database</h5>
                      <h6 class="card-text">View the student's database</h6>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col">
                <a href="/databaseT" class="text-decoration-none text-dark">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Teacher Database</h5>
                      <h6 class="card-text">View the teacher's database</h6>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" id="category-cards">
          <div class="card-body">
            <h5 class="card-title">Student & Teacher Count</h5>
            <hr class="spacer">
            <div class="row mx-auto mt-3">
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Student Database</h5>
                    <h6 class="card-text">{{ studentCount[0]['COUNT(*)'] }} Student(s) in the student database</h6>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Teacher Database</h5>
                    <h6 class="card-text">{{ teacherCount[0]['COUNT(*)'] }} Teacher(s) in the teacher database</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" id="category-cards">
          <div class="card-body">
            <h5 class="card-title">Classes Available</h5>
            <hr class="spacer">
            <h6 class="card-text">
              {% if classes %}
              <div class="container-mx-0 overflow-auto" style="height: 200px;">
              <table class="table table-striped">
                <thead>
                  <tr class="border-0 fw-bold">
                    <th class="text-center">ID</th>
                    <th class="text-center">Classes</th>
                  </tr>
                </thead>
                <tbody>
                  {% for classes in classes %}
                  <tr>
                    <td class="text-center">{{ classes['id'] }}</td>
                    <td class="text-center">{{ classes['name'] }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
            </div>
            {% else %}
            <h4 class="card-text text-center align-middle mt-5">No Classes!</h4>
            {% endif %}
            </h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" id="category-cards">
          <div class="card-body">
            <h5 class="card-title">Latest Recieved Messages</h5>
            <hr class="spacer">
            {% if messages %}
            <div class="container-mx-0 overflow-auto text-nowrap" style="max-height: 200px;">
              <table class="table table-striped">
                  <thead> 
                      <tr class="fw-bold">
                          <th class="text-start">From</th>
                          <th class="text-center">Date</th>
                          <th class="text-center">View</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for messages in messages %}
                      <tr>
                          <td class="text-start align-middle">{{ messages["sender"] }}</td>
                          <td class="text-center align-middle">{{ messages["creationDate"] }}</td>
                          <td class="text-center">
                              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#viewMessage{{ messages['id'] }}">
                                  View
                              </button>
                              <div class="modal fade text-start" id="viewMessage{{ messages['id'] }}" tabindex="-1" aria-labelledby="viewMessage{{ messages['id'] }}Label" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-scrollable" style="max-height: 80%;">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="ModalLabel">Message from {{ messages['sender'] }}</h5>
                                        </div>
                                      <div class="modal-body">
                                          <label for="subject" class="form-label">Subject</label>
                                          <div class="form-control mb-3" style="white-space: pre-wrap;" readonly id="subject">{{ messages['subject'] }}</div>
                                          <label for="description" class="form-label">Description</label>
                                          <div class="form-control" style="white-space: pre-wrap;" readonly id="description">{{ messages['description'] }}</div>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#replyMessage{{ messages['id'] }}">Reply</button>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                              <div class="modal fade text-start" id="replyMessage{{ messages['id'] }}" tabindex="-1" aria-labelledby="replyMessage{{ messages['id'] }}Label" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-scrollable" style="max-height: 80%;">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="ModalLabel">Send a message</h5>
                                        </div>
                                      <div class="modal-body">
                                          <form action="/send" method="post">
                                          <div class="row">
                                              <div class="col">
                                                  <div class="mb-3">
                                                  <label for="to" class="form-label">To</label>
                                                  <input type="text" class="form-control" id="to" placeholder="To" required name="to" value="{{ messages['sender'] }}" readonly>
                                                  </div>
                                              </div>
                                              <div class="col">
                                                  <div class="mb-3">
                                                  <label for="from" class="form-label">From</label>
                                                  <input type="text" class="form-control" id="from" name="from" disabled value="{{ info[0]['username'] }}">
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="mb-3">
                                              <label for="subject" class="form-label">Subject</label>
                                              <input type="text" class="form-control" id="subject" name="subject" required placeholder="Subject" value="{{ messages['subject'] }}" readonly>
                                          </div>
                                          <div class="mb-3">
                                              <label for="description" class="form-label">Description</label>
                                              <textarea class="form-control" id="description" placeholder="Description" required name="description"></textarea>
                                          </div>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Send <img src="/static/sent-icon.png" alt="Send a message" width="20"></button>
                                      </div>
                                      </form>
                                    </div>
                                  </div>
                              </div>
                          </td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
            </div>
          {% else %}
          <h4 class="card-text text-center align-middle mt-5">No Messages!</h4>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% elif role == 't' %}
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card" id="category-cards">
          <div class="card-body">
            <h5 class="card-title">Latest Materials Uploaded</h5>
            <hr class="spacer">

            {% set isMaterials = [] %}

            {% for materials in materials %}
            {% if materials['classname'] == classname[0]['name'] %}
            {% if isMaterials.append(True) %} {% endif %}
            {% endif %}
            {% endfor %}
            
            {% if isMaterials %}
            <div class="container-mx-0 overflow-auto text-nowrap" style="max-height: 200px;">
              <table class="table text-nowrap">
                <thead>
                    <tr class="border-0 fw-bold">
                        <th class="text-start">Filename</th>
                        <th class="text-end">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for materials in materials %}
                    {% if materials['classname'] == classname[0]['name'] %}
                        <tr>
                            <td class="text-start">
                              <form method="post" action="/downloader">
                                <button type="submit" name="filename" value="{{ materials['filename'] }}" class="btn btn-light" id="material-buttons">
                                  <img src="/static/fileimage.png" alt="fileimg" width="18">
                                  {{ materials['filename'] }}
                                  <img src="/static/downloadimg.png" alt="downloadimg" width="18">
                                </button>
                              </form>
                            </td>
                            <td class="text-end">
                              <button type="button justify-content-end" data-bs-toggle="modal" data-bs-target="#Modal{{ materials['id'] }}" class="btn btn-danger">
                                <img src="/static/deleteimage.png" alt="deleteimg" width="18">
                              </button>
                              <div class="modal fade" id="Modal{{ materials['id'] }}" tabindex="-1" aria-labelledby="Modal{{ materials['id'] }}Label" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="Modal{{ materials['id'] }}Label">DELETE WARNING ⚠️</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-start text-wrap">
                                      Are you sure you want to remove this file from materials?
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                      <form action="/deleter" method="post">
                                        <button type="submit" class="btn btn-danger" name="filename" value="{{ materials['filename'] }}">Delete</button>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
              </table>
            </div>
            {% else %}
            <h4 class="card-text text-center align-middle my-5">No Materials!</h4>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" id="category-cards">
          <div class="card-body">
            <h5 class="card-title">Latest Assignments Posted</h5>
            <hr class="spacer">
            {% if assignments %}
            <div class="container-mx-0 overflow-auto text-nowrap" style="max-height: 200px;">
              <table class="table table-striped">
                  <thead> 
                      <tr class="fw-bold">
                        <th class="text-start">Name</th>
                        <th class="text-center">Description</th>
                        <th class="text-center">View</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for assignments in assignments %}
                      <tr>
                        <td class="text-start align-middle text-truncate" style="max-width: 10vw">{{ assignments["name"] }}</td>
                        <td class="text-center align-middle text-truncate" style="max-width: 15vw">{{ assignments["description"] }}</td>
                        <td class="text-center align-middle"><a href="/assignments" class="btn btn-primary">View</a></td>
                      </tr>
                    {% endfor %}
                  </tbody>
              </table>
            </div>
            {% else %}
            <h4 class="card-text text-center align-middle my-5">No Recent Assignments!</h4>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" id="category-cards">
          <div class="card-body">
            <h5 class="card-title">Students in {{ classname[0]['name'] }} class</h5>
            <hr class="spacer">

            {% set isStudents = [] %}

            {% for students in students %}
            {% for enrollment in enrollment %}
            {% if students['id'] == enrollment['stdid'] and enrollment['classid'] == classname[0]['id']%}
            {% if isStudents.append(True) %} {% endif %}
            {% endif %}
            {% endfor %}
            {% endfor %}
            
            {% if isStudents %}
            <div class="container-mx-0 overflow-auto text-nowrap" style="max-height: 200px;">
              <table class="table table-striped mt-2">
                <thead>
                    <tr class="border-0 fw-bold">
                        <th class="text-center">ID</th>
                        <th class="text-center">Username</th>
                        <th class="text-center">First Name</th>
                        <th class="text-center">Last Name</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Phone</th>
                    </tr>
                </thead>
                <tbody>
                    {% for students in students %}
                    {% for enrollment in enrollment %}
                    {% if students['id'] == enrollment['stdid'] and enrollment['classid'] == classname[0]['id']%}
                        <tr>
                          <td class="text-center align-middle">{{ students["id"] }}</td>
                          <td class="text-center align-middle">{{ students["username"] }}</td>
                          <td class="text-center align-middle">{{ students["First_Name"] }}</td>
                          <td class="text-center align-middle">{{ students["Last_Name"] }}</td>
                          <td class="text-center align-middle">{{ students["email"] }}</td>
                          <td class="text-center align-middle">{{ students["phone"] }}</td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
            </div>
            {% else %}
            <h4 class="card-text text-center align-middle my-5">No Students!</h4>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" id="category-cards">
          <div class="card-body">
            <h5 class="card-title">Latest Recieved Messages</h5>
            <hr class="spacer">
            {% if messages %}
            <div class="container-mx-0 overflow-auto text-nowrap" style="max-height: 200px;">
              <table class="table table-striped">
                  <thead> 
                      <tr class="fw-bold">
                          <th class="text-start">From</th>
                          <th class="text-center">Date</th>
                          <th class="text-center">View</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for messages in messages %}
                      <tr>
                          <td class="text-start align-middle">{{ messages["sender"] }}</td>
                          <td class="text-center align-middle">{{ messages["creationDate"] }}</td>
                          <td class="text-center align-middle">
                              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#viewMessage{{ messages['id'] }}">
                                  View
                              </button>
                              <div class="modal fade text-start" id="viewMessage{{ messages['id'] }}" tabindex="-1" aria-labelledby="viewMessage{{ messages['id'] }}Label" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-scrollable" style="max-height: 80%;">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="ModalLabel">Message from {{ messages['sender'] }}</h5>
                                        </div>
                                      <div class="modal-body">
                                          <label for="subject" class="form-label">Subject</label>
                                          <div class="form-control mb-3" style="white-space: pre-wrap;" readonly id="subject">{{ messages['subject'] }}</div>
                                          <label for="description" class="form-label">Description</label>
                                          <div class="form-control" style="white-space: pre-wrap;" readonly id="description">{{ messages['description'] }}</div>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#replyMessage{{ messages['id'] }}">Reply</button>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                              <div class="modal fade text-start" id="replyMessage{{ messages['id'] }}" tabindex="-1" aria-labelledby="replyMessage{{ messages['id'] }}Label" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-scrollable" style="max-height: 80%;">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="ModalLabel">Send a message</h5>
                                        </div>
                                      <div class="modal-body">
                                          <form action="/send" method="post">
                                          <div class="row">
                                              <div class="col">
                                                  <div class="mb-3">
                                                  <label for="to" class="form-label">To</label>
                                                  <input type="text" class="form-control" id="to" placeholder="To" required name="to" value="{{ messages['sender'] }}" readonly>
                                                  </div>
                                              </div>
                                              <div class="col">
                                                  <div class="mb-3">
                                                  <label for="from" class="form-label">From</label>
                                                  <input type="text" class="form-control" id="from" name="from" disabled value="{{ info[0]['username'] }}">
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="mb-3">
                                              <label for="subject" class="form-label">Subject</label>
                                              <input type="text" class="form-control" id="subject" name="subject" required placeholder="Subject" value="{{ messages['subject'] }}" readonly>
                                          </div>
                                          <div class="mb-3">
                                              <label for="description" class="form-label">Description</label>
                                              <textarea class="form-control" id="description" placeholder="Description" required name="description"></textarea>
                                          </div>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Send <img src="/static/sent-icon.png" alt="Send a message" width="20"></button>
                                      </div>
                                      </form>
                                    </div>
                                  </div>
                              </div>
                          </td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
            </div>
          {% else %}
          <h4 class="card-text text-center align-middle mt-5">No Messages!</h4>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card" id="category-cards">
          <div class="card-body">
            <h5 class="card-title">Assignments Not Done</h5>
            <hr class="spacer">
            {% if assignmentsnotdone %}
            <div class="container-mx-0 overflow-auto text-nowrap" style="max-height: 200px;">
              <table class="table table-striped">
                  <thead> 
                      <tr class="fw-bold">
                        <th class="text-start">Name</th>
                        <th class="text-center">Class</th>
                        <th class="text-center">Due Date</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for assignmentsnotdone in assignmentsnotdone %}
                      <tr>
                        <td class="text-start align-middle">{{ assignmentsnotdone["name"] }}</td>
                        <td class="text-center align-middle">{{ assignmentsnotdone["className"] }}</td>
                        <td class="text-center align-middle">{{ assignmentsnotdone["dueDate"] }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
              </table>
            </div>
            {% else %}
            <h4 class="card-text text-center align-middle mt-5">All assignments are done!</h4>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" id="category-cards">
          <div class="card-body">
            <h5 class="card-title">Assignment Marks</h5>
            <hr class="spacer">
            {% if assignmentMarks %}
            <div class="container-mx-0 overflow-auto text-nowrap" style="max-height: 200px;">
              <table class="table table-striped">
                  <thead> 
                      <tr class="fw-bold">
                        <th class="text-start">Name</th>
                        <th class="text-end">Marks</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for assignmentMarks in assignmentMarks %}
                      <tr>
                        {% for assignments in assignments %}
                        {% if assignmentMarks["assignmentid"] == assignments['id'] %}
                        <td class="text-start align-middle">{{ assignments["name"] }}</td>
                        {% endif %}
                        {% endfor %}
                        <td class="text-end align-middle">{{ assignmentMarks["marks"] }}/{{ assignmentMarks['totalmarks'] }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
              </table>
            </div>
            {% else %}
            <h4 class="card-text text-center align-middle mt-5">No assignments marked!</h4>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" id="category-cards">
          <div class="card-body">
            <h5 class="card-title">Enrolled Subjects</h5>
            <hr class="spacer">
            {% if classnames %}
            <div class="container-mx-0 overflow-auto text-nowrap" style="max-height: 200px;">
              <table class="table table-striped">
                  <thead> 
                      <tr class="fw-bold">
                        <th class="text-center">ID</th>
                        <th class="text-center">Name</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for classnames in classnames %}
                      <tr>
                        <td class="text-center align-middle">{{ classnames["id"] }}</td>
                        <td class="text-center align-middle">{{ classnames["name"] }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
              </table>
            </div>
            {% else %}
            <h4 class="card-text text-center align-middle mt-5">No enrolled classes!</h4>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" id="category-cards">
          <div class="card-body">
            <h5 class="card-title">Latest Recieved Messages</h5>
            <hr class="spacer">
            {% if messages %}
            <div class="container-mx-0 overflow-auto text-nowrap" style="max-height: 200px;">
              <table class="table table-striped">
                  <thead> 
                      <tr class="fw-bold">
                          <th class="text-start">From</th>
                          <th class="text-center">Date</th>
                          <th class="text-center">View</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for messages in messages %}
                      <tr>
                          <td class="text-start align-middle">{{ messages["sender"] }}</td>
                          <td class="text-center align-middle">{{ messages["creationDate"] }}</td>
                          <td class="text-center align-middle">
                              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#viewMessage{{ messages['id'] }}">
                                  View
                              </button>
                              <div class="modal fade text-start" id="viewMessage{{ messages['id'] }}" tabindex="-1" aria-labelledby="viewMessage{{ messages['id'] }}Label" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-scrollable" style="max-height: 80%;">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="ModalLabel">Message from {{ messages['sender'] }}</h5>
                                        </div>
                                      <div class="modal-body">
                                          <label for="subject" class="form-label">Subject</label>
                                          <div class="form-control mb-3" style="white-space: pre-wrap;" readonly id="subject">{{ messages['subject'] }}</div>
                                          <label for="description" class="form-label">Description</label>
                                          <div class="form-control" style="white-space: pre-wrap;" readonly id="description">{{ messages['description'] }}</div>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#replyMessage{{ messages['id'] }}">Reply</button>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                              <div class="modal fade text-start" id="replyMessage{{ messages['id'] }}" tabindex="-1" aria-labelledby="replyMessage{{ messages['id'] }}Label" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-scrollable" style="max-height: 80%;">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="ModalLabel">Send a message</h5>
                                        </div>
                                      <div class="modal-body">
                                          <form action="/send" method="post">
                                          <div class="row">
                                              <div class="col">
                                                  <div class="mb-3">
                                                  <label for="to" class="form-label">To</label>
                                                  <input type="text" class="form-control" id="to" placeholder="To" required name="to" value="{{ messages['sender'] }}" readonly>
                                                  </div>
                                              </div>
                                              <div class="col">
                                                  <div class="mb-3">
                                                  <label for="from" class="form-label">From</label>
                                                  <input type="text" class="form-control" id="from" name="from" disabled value="{{ info[0]['username'] }}">
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="mb-3">
                                              <label for="subject" class="form-label">Subject</label>
                                              <input type="text" class="form-control" id="subject" name="subject" required placeholder="Subject" value="{{ messages['subject'] }}" readonly>
                                          </div>
                                          <div class="mb-3">
                                              <label for="description" class="form-label">Description</label>
                                              <textarea class="form-control" id="description" placeholder="Description" required name="description"></textarea>
                                          </div>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Send <img src="/static/sent-icon.png" alt="Send a message" width="20"></button>
                                      </div>
                                      </form>
                                    </div>
                                  </div>
                              </div>
                          </td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
            </div>
            {% else %}
              <h4 class="card-text text-center align-middle mt-5">No Messages!</h4>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}