{% extends "layout.html" %}

{% block title %}
     Student Database
{% endblock %}

{% block main %}
<h1 class="text-center p-3"><strong>Student Database</strong></h1>
<hr class="spacer">
<div class="container-mx-0">
  <div class="row">
    <div class="col">
      <form class="d-sm-flex" method="get" action="/databaseS">
        <input class="form-control me-2 mt-1" name="search" type="search" placeholder="Search" aria-label="Search" style="width:200px;" autocomplete="off">
        <div class="d-flex">
          <select class="form-select me-2 mt-1" name="by" style="width:100px;" required>
            <option selected disabled>By</option>
            <option value="id">ID</option>
            <option value="username">Username</option>
            <option value="name">Name</option>
          </select>
          <button class="btn btn-outline-primary mt-1" type="submit">🔍</button>
        </div>
      </form>
    </div>
    <div class="col text-end">
      <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#studentAdding">
        <img src="/static/adduser.png" alt="Add User" width="25">
      </button>
      <form action="/databaseS" method="post">
        <div class="modal fade" id="studentAdding" tabindex="-1" aria-labelledby="studentAddingLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable" style="max-height: 70%;">
            <div class="modal-content text-start">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Add a student to the database</h5>
                </div>
              <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="firstname" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="firstname" placeholder="First Name" required name="fname" autocomplete="off">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="lastname" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="lastname" placeholder="Last name" required name="lname" autocomplete="off">
                        </div>
                    </div>
                </div>
                  <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username" required name="username" autocomplete="off">
                  </div>
                  <div class="mb-3">
                    <label for="pass" class="form-label">Password</label>
                    <input type="text" class="form-control" id="pass" placeholder="Password" required name="pass" autocomplete="off">
                  </div>
                  <div class="mb-3">
                    <label for="DOB" class="form-label">DOB</label>
                    <input type="date" class="form-control" id="DOB" placeholder="Date Of Birth. YYYY-MM-DD" required name="DOB" autocomplete="off">
                  </div>
                  <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="example@gmail.com" required name="email" autocomplete="off">
                  </div>
                  <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="text" class="form-control" id="phone" placeholder="Phone number" required name="phone" autocomplete="off">
                  </div>
                  <div class="mb-3">
                    <label for="gender" class="form-label">Gender: </label>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="Male" required autocomplete="off">
                      <label class="form-check-label" for="inlineRadio1">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="Female">
                      <label class="form-check-label" for="inlineRadio2">Female</label>
                    </div>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add Student</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<hr class="spacer">
<div class="container-mx-0 overflow-auto text-nowrap" style="max-height: 375px;">
  {% if students %}
  <table class="table table-striped">
      <thead>
          <tr class="border-0 fw-bold">
              <th class="text-center">ID</th>
              <th class="text-center">First Name</th>
              <th class="text-center">Last Name</th>
              <th class="text-center">Username</th>
              <th class="text-center">Gender</th>
              <th class="text-center">DOB</th>
              <th class="text-center">Email</th>
              <th class="text-center">Phone</th>
              <th class="text-center">Enrollments</th>
              <th class="text-center">Delete</th>
          </tr>
      </thead>
      <tbody>
          {% for students in students %}
              <tr>
                  <td class="text-center align-middle">{{ students["id"] }}</td>
                  <td class="text-center align-middle">{{ students["First_Name"] }}</td>
                  <td class="text-center align-middle">{{ students["Last_Name"] }}</td>
                  <td class="text-center align-middle">{{ students["username"] }}</td>
                  <td class="text-center align-middle">{{ students["gender"] }}</td>
                  <td class="text-center align-middle">{{ students["DOB"] }}</td>
                  <td class="text-center align-middle">{{ students["email"] }}</td>
                  <td class="text-center align-middle">{{ students["phone"] }}</td>
                  <td class="text-center align-middle">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ClassesModal{{ students['username'] }}">
                      View
                    </button>
                    <div class="modal fade" id="ClassesModal{{ students['username'] }}" tabindex="-1" aria-labelledby="ClassesModal{{ students['username'] }}Label" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="ClassesModal{{ students['username'] }}Label">View classes</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body text-wrap text-start">
                            {{ students["First_Name"] }} {{ students["Last_Name"] }}'s Enrolled Classes:
                            {% for enrollment in enrollment %} 
                            {% if enrollment['stdid'] == students['id'] %}
                            {% for classes in classes %}
                            {% if enrollment['classid'] == classes['id'] %}
                            <div>{{ classes['name'] }}</div>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                            {% endfor %}
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#UnenrollModal{{ students['username'] }}">
                              Unenroll Classes
                            </button>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#EnrollModal{{ students['username'] }}">
                              Enroll Classes
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal fade" id="UnenrollModal{{ students['username'] }}" tabindex="-1" aria-labelledby="UnenrollModal{{ students['username'] }}Label" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="UnenrollModal{{ students['username'] }}Label">Unenroll Classes</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body text-wrap text-start">
                            Select classes to unenroll {{ students["First_Name"] }} {{ students["Last_Name"] }} from:
                            <form method="post" action="/unenrollment">
                            {% for enrollment in enrollment %} 
                            {% if enrollment['stdid'] == students['id'] %}
                            {% for classes in classes %}
                            {% if enrollment['classid'] == classes['id'] %}
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="{{ classes['id'] }}" id="checkbox" name="classes">
                              <label class="form-check-label" for="checkbox">
                                {{ classes['name'] }}
                              </label>
                            </div>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                            {% endfor %}
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger" name="stdid" value="{{ students['id'] }}">Unenroll</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal fade" id="EnrollModal{{ students['username'] }}" tabindex="-1" aria-labelledby="EnrollModal{{ students['username'] }}Label" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="EnrollModal{{ students['username'] }}Label">Enroll Classes</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body text-wrap text-start">
                            Select classes to enroll {{ students["First_Name"] }} {{ students["Last_Name"] }} in:
                            <form method="post" action="/enrollment">

                            {% set enrolled = [] %}
                            {% set enrolledclasses = [] %}

                            {% for enrollment in enrollment %} 
                              {% if enrollment['stdid'] == students['id'] %}
                                {% if enrolled.append(True) %} {% endif %}
                                {% for classes in classes %}
                                  {% if enrollment['classid'] == classes['id'] %}
                                    {% if enrolledclasses.append(classes['name']) %} {% endif %}
                                  {% endif %}
                                {% endfor %}
                              {% endif %}
                            {% endfor %}

                            {% if not enrolled %}
                            {% for classes in classes %}
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="{{ classes['id'] }}" id="checkbox" name="classes">
                              <label class="form-check-label" for="checkbox">
                                {{ classes['name'] }}
                              </label>
                            </div>
                            {% endfor %}
                            {% else %}
                            {% for classes in classes %}
                            {% if classes['name'] not in enrolledclasses %}
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="{{ classes['id'] }}" id="checkbox" name="classes">
                              <label class="form-check-label" for="checkbox">
                                {{ classes['name'] }}
                              </label>
                            </div>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" name="stdid" value="{{ students['id'] }}">Enroll</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="text-center">
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#Modal{{ students['username'] }}">
                    X
                  </button>
                  <div class="modal fade" id="Modal{{ students['username'] }}" tabindex="-1" aria-labelledby="Modal{{ students['username'] }}Label" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="Modal{{ students['username'] }}Label">DELETE WARNING ⚠️</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-wrap">
                          Are you sure you want to remove this student from the database?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                          <form action="/delete" method="post">
                            <button type="submit" class="btn btn-danger" name="delete" value="students {{ students['username'] }} databaseS">Delete</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  </td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
  {% else %}
  <h4 class="card-text text-center align-middle my-5">No Students!</h4>
  {% endif %}
</div>
{% endblock %}