nav .navbar-brand
{
    font-size: xx-large;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
p
{
    margin-top: 10%;
}
body
{
    font-family: "Fantasy", "Courier New", monospace;
}
.btn:focus, .accordion-button:focus
{
    box-shadow: none;
}
#profile
{
    margin-top: 3%;
}
.col.text-center
{
    font-size: 18px;
}
#category-cards
{
    height: 279px;
}
.dark-body
{
    background-color: #2A2A2A;
    color: white;
}
.dark-cards
{
    background-color: #3b3b3b;
    color: white;
    border-color: white;
}
.dark-accordion
{
    --bs-bg-opacity: 0;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
    color: white;
}
.accordion-button:not(.collapsed)::after
{
    filter: brightness(0%);
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: #ffffff00;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}